:host {
  min-width: 300px;
  .user {
    border: 1px solid #48a9e6;
    margin: 5px;
    padding: 15px;
    &:hover {
      color: #fff;
      background-color: #48a9e6;
      transition: 0.3s;
      .user__email,
      .user__seeMore {
        color: #fff;
        transition: 0.3s;
      }
    }
    &__email,
    &__seeMore {
      color: #48a9e6;
      margin: 0;
    }
  }
}
