<div class="user">
  <h2 class="user__name">{{ userData.name }}</h2>
  <p>
    <strong>Email: </strong>
    <a href="mailto:{{ userData.email }}" class="user__email">{{
      userData.email
    }}</a>
  </p>
  <p class="user__phone"><strong>Phone:</strong> {{ userData.phone }}</p>
  <p class="user__userName">
    <strong>Username:</strong> {{ userData.username }}
  </p>
  <p class="user__website"><strong>Website:</strong> {{ userData.website }}</p>
  <hr />
  <h4 class="user__postCount">Total: {{ userData.posts.length }} posts</h4>
  <h3 class="user__seeMore">
    <a [routerLink]="['/users', userData.id]">See posts</a>
  </h3>
</div>
